<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Owner Details</title>
</head>
<body>
    <h2>Owner Details</h2>
    <form action="/details" method="post">
        <label>Start Location:</label><br>
        <input type="text" name="start_location"><br>
        <label>Destination:</label><br>
        <input type="text" name="destination"><br>
        <label>Car Model:</label><br>
        <input type="text" name="car_model"><br>
        <label>Number of Seats:</label><br>
        <input type="number" name="seats"><br><br>
        <input type="submit" value="Submit Details">
    </form>
</body>
</html>
